<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mais Demandadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="card_soft">
    <ion-card-content>
      <p class="int">
        São as soft skills que vão indicar ao recrutador de que maneira o
        profissional lida com os desafios do dia a dia.<br />
        De acordo com a pesquisa citada inicialmente,
        <b
          >as dez habilidades pessoais mais procuradas pelas organizações
          são:</b
        >
      </p>
      <ol>
        <li>Princípios éticos;</li>
        <li>Confiança;</li>
        <li>Atitude positiva;</li>
        <li>Motivação;</li>
        <li>Trabalho em equipe;</li>
        <li>Organização e gestão do tempo;</li>
        <li>Capacidade de trabalhar sob pressão;</li>
        <li>Comunicação;</li>
        <li>Flexibilidade;</li>
        <li>Segurança.</li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
