<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mais Demandadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="card_soft">
    <ion-card-content>
      <p class="int">
        São as soft skills que vão indicar ao recrutador de que maneira o
        profissional lida com os desafios do dia a dia.<br />
        De acordo com a pesquisa citada inicialmente,
        <b
          >as dez habilidades pessoais mais procuradas pelas organizações
          são:</b
        >
      </p>
      <ol>
        <p class="item-demanda"><b>1.</b>Princípios éticos;</p>
        <p class="item-demanda"><b>2.</b>Confiança;</p>
        <p class="item-demanda"><b>3.</b>Atitude positiva;</p>
        <p class="item-demanda"><b>4.</b>Motivação;</p>
        <p class="item-demanda"><b>5.</b>Trabalho em equipe;</p>
        <p class="item-demanda"><b>6.</b>Organização e gestão do tempo;</p>
        <p class="item-demanda"><b>7.</b>Capacidade de trabalhar sob pressão;</p>
        <p class="item-demanda"><b>8.</b>Comunicação;</p>
        <p class="item-demanda"><b>9.</b>Flexibilidade;</p>
        <p class="item-demanda"><b>10.</b>Segurança.</p>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
