<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Importância</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="card_soft">
    <ion-card-content class="desc">
      <p class="esc">
        Existem muitas vantagens em contratar pessoas que tenham
        soft skills desenvolvidas. Para que a equipe entregue os resultados
        esperados, um bom relacionamento entre os colegas é essencial. É aí que
        entram, por exemplo, as habilidades de comunicação e trabalho em equipe.
        Se os profissionais do time tiverem essas competências, fica fácil
        estabelecer um dia a dia produtivo e harmonioso. </p><br/>
        <p class="esc">Outra situação em que
        as soft skills são necessárias é na resolução de problemas do dia a dia.
        Profissionais proativos costumam procurar soluções por conta própria,
        levando aos gestores apenas questões que estejam completamente fora de
        seu alcance. Quando a equipe não depende tanto das decisões da
        liderança, os processos se tornam dinâmicos e os resultados são mais rápidos e eficientes.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
