ion-content{
  --background: linear-gradient(#090199, #ffc423);
}

ion-content{
  --background: linear-gradient(#090199, #ffc423);
}

.esc{
  color: #000000;
  font-size: 19px;
  text-align: justify;
  font-weight: bold;
}

.card_soft{
  background-color: #c1bdfd;
  margin-top: 36px;
  height: 1330px;
}

h1{
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin-top: 10px;
}
