ion-content{
  --background: url("https://i.pinimg.com/originals/33/d9/02/33d902acf5a26d1482c65be623757000.gif");
}

ion-title{
  font-size: 18px;
}

.esc{
  color: #000000;
  font-size: 18px;
  text-align: justify;
  font-weight: bold;
}

.card_soft{
  margin-top: 36px;
  height: 620px;
}

h1{
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  margin-top: 10px;
}
