<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Alguns Exemplos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="card_soft">
    <ion-card-content>
      <p class="int">
        Para você que ainda não faz ideia do que é uma Soft Skill,
        <b>separamos aqui alguns exemplos para você:</b>
      </p>
      <ol>
        <li class="item_lista">Inteligência Emocional</li>
        <p class="desc_soft">
          A inteligência emocional é a capacidade de reconhecer e lidar com as
          próprias emoções e com as emoções do outro. Inicialmente, consiste na
          identificação das emoções por meio de aspectos fisiológicos para
          posteriormente haver um entendimento mais profundo sobre uma reação,
          reconhecer emoções não evidentes e, por último, lidar com os próprios
          sentimentos e com os sentimentos dos outros.
        </p>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
