ion-content{
  --background: linear-gradient(#090199, #ffc423);
}

ion-title{
  font-size: 18px;
}

.int{
  color: #000000;
  font-size: 20px;
  text-align: justify;
}

.card_soft{
  background-color: #c1bdfd;
  margin-top: 36px;
  height: 1140px;
}

.item_lista{
  font-size: 20px;
  color: #b90101;
  font-weight: bold;
}

.desc_soft{
  font-size: 16px;
  color: #000000;
  text-align: justify;
}
