ion-content{
  --background: url("https://i.pinimg.com/originals/33/d9/02/33d902acf5a26d1482c65be623757000.gif");
}

ion-title{
  font-size: 18px;
}

.int{
  color: #000000;
  font-size: 20px;
  text-align: justify;
}

.card_soft{
  margin-top: 36px;
  height: 700px;
}

.item_lista{
  font-size: 20px;
  color: #b90101;
  font-weight: bold;
}

.desc_soft{
  font-size: 16px;
  color: #000000;
  text-align: justify;
}

.titu{
  font-size: 18px;
  color: #b90101;
  font-weight: bold;
}

ion-slides {
  height: 100%;
  background-color: #b90101;
}
