<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Como Avaliar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="card_soft">
    <ion-card-content>
      <p class="int">
        Qual tipo de avaliação você deseja?
      </p>
        <p class="ava">Desejo fazer uma auto avaliação!</p>
        <p class="ava">Desejo avaliar outra pessoa!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
