<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Solft Skills </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card_soft">
    <ion-card-content class="desc">
      <img
        class="foto"
        src="https://blog.portalpos.com.br/app/uploads/2021/11/soft-skills.jpg"
        alt=""
      />
      <p class="esc">Você sabe o que são Soft Skills e a importância a qual elas tem no mercado
      de trabalho? Se não sabe, aqui você pode saber mais sobre elas.</p>

      <h1>Para saber mais</h1>
      <ion-fab vertical="start" horizontal="start" slot="fixed" class="mais">
        <ion-fab-button>
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-list side="top">
            <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-list side="end">
            <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>
</ion-content>
