<ion-header [translucent]="true">
  <ion-toolbar color="azul">
    <ion-title color="light"> Solft Skills </ion-title>
  </ion-toolbar>
</ion-header>


<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="azul-claro">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/descricao-soft" >O que São Soft Skills</ion-item>
      <ion-item routerLink="/exemplos">Alguns Exemplos</ion-item>
      <ion-item routerLink="/demandadas">Mais Demandadas</ion-item>
      <ion-item routerLink="/avaliar">Como Avaliar</ion-item>
      <ion-item routerLink="/importancia">Importância das Soft Skills</ion-item>
      <ion-item routerLink="/diferencas">Hard Skills x Soft Skills</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">

  <ion-card color="light" class="card_soft">
    <ion-card-content class="desc">
      <img
        class="foto"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTRk2yFcMDEmQx-JhP-HvK4tde64YJt7GRYw&usqp=CAU"
        alt=""
      />
      <p class="esc">Você sabe o que são Soft Skills e a importância a qual elas tem no mercado
      de trabalho? Se não sabe, aqui você pode saber mais sobre elas.</p>

      <h1>Para saber mais</h1>
      <div class="men" (click)="openFirst()"><img src="https://w7.pngwing.com/pngs/754/580/png-transparent-computer-icons-information-information-icon-size-miscellaneous-photography-stock-photography-thumbnail.png" alt=""></div>
    </ion-card-content>
  </ion-card>

</ion-content>
